/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');


 :root{
  --background:#db8d8d;
  --textColour:#f3eaea;
 }
*{
  font-family: "New Amsterdam", sans-serif; 
  margin: 0;
  padding: 0;
  color: var(--textColour);
  box-sizing: border-box;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 850px;
  background-color: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 40px;
}

h1{
  color:var(--textColour);
  margin-left: 50px;
  font-size: 4rem;
  transition: all 0.3s ease-in-out;
  font-family: "Matemasie", sans-serif;
}
h1:hover{
  transform: scale(1.05);
}

nav{
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  width: 100%;
}

nav>button{
  border: none;
  background-color: var(--background);
  transition: all 0.3s ease-in-out;
  font-size: 3vw;
  color:var(--textColour);
}


nav>button:hover {
  color: #ffffff;
  background-color: var(--background);
  transform: scale(1.5);
}

nav>button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav>button:hover::before {
  transform: scaleX(1);
}

img{
  width:45vmax;
  height: 45vmax;
  transition: transform 0.3s ease;
}

img:hover{
  transform: scale(1.05);
}

#content{
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 3.5vw;
  margin-top: 3%;
  text-align: center; 
  
}


.info>button{
  border-radius: 40px;
  padding: 10px;
  font-size: 3vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
  border: 2px solid;
  color: var(--background);
  transition: all 0.3s ease;
}

.info>button:hover{
  box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.521), 0 6px 20px 0 rgba(0, 0, 0, 0.521);
  transform: scale(1.05);
}

footer {
  width: 100%;
  background-color: var(--textColour);
  color: var(--background);
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.copywright{
  padding-left: 20px;
  padding-top: 2px;
}

.container,.copywright{
  display: flex;
  background-color: var(--textColour);
  color: var(--background);
}

.container{
  padding-bottom: 8px;
}

.about{
  width: 65%;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;

}

.about>h2{
  color:var(--background);
}

.about>p{
  color: #c0c0bb;
}

.pages>h2,.contact>h2{
  color: var(--background);
  margin-left: 90px;
  padding: 10px;
}
.pages>ul>li,.contact>ul>li{
  color: #c0c0bb;
  margin-left: 100px;
  margin-bottom: 5px;
  list-style-type: none;
  transition: all 0.3s ease; 
}

.pages>ul>li:hover,.contact>ul>li:hover{
  transform: scale(1.1);
}

.info>p{
  font-size: 40%;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.promos{
  display: flex;
  align-items: center;
}

#Taco{
  width:16vmax;
  height: 11vmax;
}

.promos>img{
  width:16vmax;
  height: 16vmax;
}

#tacot{
  font-size: 2vw;
}

#promoText{
  font-size: 3vw;
}